.tag {
  display: flex;
  align-items: center;
  width: max-content;
  height: 62px;
  padding: 17px 15px;
  background: #FFFFFF;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  color: var(--primary-font-color);
  cursor: pointer;
}

.tag.active {
 
  background: #E2FFFF;
  
}


.tag > p {
  font-weight: 400;
  font-size: 24px;
}