.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.post,
.create-comment,
.comment-section {
  width: 100%;
  min-height: max-content;
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  padding: 12px 24px;
  color: var(--primary-font-color);
}

.create-comment {
  height: 100%;
}

.create-form {
  height: 100%;
}

.create-form > textarea {
  resize: none;
  min-height: 125px;
  outline: none;
  border: none;
}

.submit-btn {
  float: right;
}

.post-op {
  position: absolute;
  opacity: 1 !important;
  top: 12px;
  right: 24px;
}

.toggle-collapse {
  background: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.content {
  position: relative;
  width: 100%;
  height: 80%;
}

.content > p,
.message > p {
  font-size: 20px;
  opacity: 0.79;
  overflow-wrap: anywhere;
}

.options {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 38px;
}

.comment-section {
  width: 100%;
  min-height: 150px;
  height: max-content;
  padding: 24px;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  min-height: 54px;
  min-width: 54px;
  max-height: 54px;
  max-width: 54px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 0;
}

.username {
  color: var(--primary-font-color) !important;
  opacity: 1 !important;
}

.divider {
  width: 2px;
  height: 100%;
  background: #202020;
  margin: 12px 0;
  opacity: 0.5;
}

.op {
  color: #636fff !important;
}

.url {
  max-height: 350px;
  max-width: 350px;
  border-radius: 6px;
}

.url::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent) !important;
}

.collapse-message {
  color: var(--primary-font-color) !important;
  font-size: 14px;
}

.options-list {
  display: flex;
  align-items: center;
}

.textarea-toolbar {
  position: relative;
}

.textarea-toolbar aside {
  position: absolute !important;
  z-index: 99999;
  top: 22px;
  right: 90px;
}
