.container {
  opacity: 0;
  padding: 32px 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 25px;
  transition: opacity 1s ease-in-out;
}

.heading {
  text-align: center;
  margin-bottom: 15px;
  color: var(--primary-font-color);
}

.message {
  text-align: center;
  width: 643px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.para-2 {
  width: 553px;
}

.continue-btn {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 0.1s ease-in-out;
}

.continue-btn:hover {
  background: #8b8fca;
  transform: scale(1.03)
}

.continue-btn:active {
  transform: scale(0.97)
}

.bounce {
  font-size: 1em;
  font-weight: bolder;
  background: none;
  border: none;
}

.bounce:hover {
  animation: bounce 0.6s;
}

@keyframes bounce {
  25% {
    transform: scale(0.8, 1.3);
  }
  50% {
    transform: scale(1.1, 0.8);
  }
  75% {
    transform: scale(0.7, 1.2);
  }
}

.selection-list {
  display: grid;
  height: 290px;
  width: 930px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 12px;
  column-gap: 36px;
}

.selection {
  background: #D9D9D9;
  width: 100%;
  height: 100%;
  opacity: 0.86;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  transition: 200ms;
  cursor: pointer;
}

.selection.active {
  background: #BEC2EE;
  color: white;
  font-weight: 500;
}

.btn-parent {
  margin-top: 20px;
}